.body {
  --main-color: #10b981;
}
.form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}
.signup-main {
  border: none;
  border: 1px solid #d1d5db;
  width: 21rem;
  height: 35rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-field {
  outline: none;
  border-radius: 0.2rem;
  border: 1px solid #d1d5db;
  height: 36px;
  width: 90%;
  margin: 1rem;
}

.button-div {
  height: 20rem;
  display: flex;
  justify-content: space-between;
  font-size: 5rem;
}

.button-custom {
  height: 3rem;
  width: 8rem;
}

.welcome-text {
  display: flex;
  justify-content: flex-start;
  font-size: xx-large;
}

.login-button {
  background-color: white;
  height: 3rem;
  width: 12rem;
  /* margin-top: 3rem; */
  border: 2px solid var(--main-color);
  font-weight: bold;
}

.login-heading {
  margin: 0px;
  padding: 2px;
  color: var(--main-color);
}

.labels {
  position: relative;
  right: 5rem;
  margin-bottom: 0.2rem;
}

.error-message {
  color: red;
  font-weight: bold;
}

.signup-link {
  text-decoration: none;
  color: var(--main-color);
}
