body{
    --fill-color : red;
}

.ecom-card {
    display: flex;
    flex-direction: column;
    width: 210px;
    overflow: hidden;
    margin : 0.5rem;
}
.card-image{
    width:  210px ;
    height : 210px;
}
.card-info {
    margin-left: 0.3rem;
    text-align: left
}

.card-button {
    padding: 0.3rem;
    margin-bottom: 0.2rem;

}

.button-encloser {
    display: flex;
    justify-content: center;
    align-items: center;
}

.basic-button {
    cursor: pointer;
    outline: none;
    border: none;
    background: none;
    background-color: transparent;
    position: relative;
    bottom: 13.1rem;
    left : 5.8rem;
    font-size: large;
}

.basic-button svg {
    fill: var(--fill-color);
}
