body{
    --primary-color : #10B981;
    --secondary-color : #2563EB ;
}

.heading{
    display: flex;
    justify-content: space-between;
    margin-left: 6vw;
    margin-right: 6vw;
    margin-top: 1rem;
    border-bottom: 1px solid black;
}

.button-custom{
    height : 3rem;
    width: 5rem;
    margin-right: 1rem;
}

.welcome-text{
    /* margin-left: 1rem; */
    color : var(--primary-color);
}

.cards-container{
display: flex;
justify-content: space-between;
margin-top: 3rem;
}




@media only screen and (max-width: 1024px) {
    .cards-container{
        flex-direction: column;
    }
}
