body{
    margin: 0;
}
.header-main{

}

.navbar{
    list-style: none;
    
}

.navbar-main{
    display: flex;
   
    justify-content: space-between;

}
.left-navbar-links {
   
    display: flex;
    /* justify-content: flex-start; */
    margin-left: auto;



}

 .right-navbar-links {
     margin-top: 1rem;
     display: flex;
     justify-content: space-between;
}

.individual-icons{
    margin-right : 2rem;
}
.list-item{
    text-decoration: none;
}
/* .list-item :hover{

} */
.badge-container{
    /* display: flex; */
    /* justify-content: space-be; */
}
@media only screen and (max-width: 600px) {
    
    .left-navbar-links{

        display: flex;
        position: relative;
        right : 3rem;
    }
    .right-navbar-links{
        position: relative;
        right: 2.3rem;
    }
  
    .last-icon{
        margin-right: 0.1rem;
    }
}