body{
    --products-bg-color : #475841;
}
.products-outer{
    display: grid;
    grid-template-columns: 20rem auto ;
    grid-template-rows: 8rem auto;
    grid-template-areas: "sidebar products-main"
    "sidebar products-main"
}
.image-resize{
    height: 250px;
    width: 250px;
}

.products-main{
    display: flex;
    flex-wrap: wrap;
}

.card-badge{
    margin: 0.2rem;
    align-items: center;
    justify-items: center;
}


.bold{
    margin: 0;
}

@media only screen and (max-width: 600px) {
  
    .products-main{
        display: flex;
        flex-wrap: wrap;
    }

}
