.sort-radio-buttons {
    list-style: none;
}

.side-div{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.heading-of-filters{
    margin-left: 1rem;
}

.reset-button{
    /* align-items: center;
    justify-content: center; */
    /* align-items: center; */
    margin-left : 5rem;
}